<?xml version="1.0"?>
<launch>
  <arg name="mono_serial" value="4103638865" />
  <arg name="stereo_serial" value="150443" />
  <!-- <arg name="target_frame" value="Workspace" /> -->
  <arg name="mono_ns" value="rgb_camera" />
  <arg name="stereo_ns" value="stereo_camera" />
  <arg name="settings" doc="Settings for the mono camera" />

<!--  <node pkg="nodelet" type="nodelet" name="manager2_"  args="manager" output="screen" />-->
<node pkg="nodelet" type="nodelet" name="manager_"  args="manager" output="screen" />

<node pkg="nodelet" type="nodelet" name="Ensenso_$(arg mono_serial)" args="load ensenso_camera/nodelet_mono /manager_" output="screen" ns="$(arg mono_ns)">
    <param name="serial" type="string" value="$(arg mono_serial)" />
    <!-- <param name="target_frame" type="string" value="$(arg target_frame)" /> -->
<!--    <param name="link_frame" value="$(arg stereo_serial)_optical_frame" />-->
     <param name="link_frame" value="camera_depth_optical_frame" />
   <param name="camera_frame" type="string" value="color_frame" />
    <param name="settings" type="string" value="$(arg settings)" />
  </node>

   <node pkg="ensenso_camera" type="color_point_cloud" name="color_point_cloud" >
    <param name="rgb_serial" type="string" value="$(arg mono_serial)" />
    <param name="stereo_ns" type="string" value="$(arg stereo_ns)" />
    <param name="rgb_ns" type="string" value="$(arg mono_ns)" />
  </node>
</launch>
