<?xml version="1.0"?>
<launch>
  <arg name="stereo_serial" default="0" />
  <arg name="target_frame" value="" />
  <arg name="stereo_ns" value="stereo_camera" />
  <arg name="settings" doc="Settings for the mono camera" />
  <arg name="need_manager" default="false" />

<group if="$(eval need_manager)">
  <node pkg="nodelet" type="nodelet" name="manager_"  args="manager" output="screen" />
  </group>

  <node pkg="nodelet" type="nodelet" name="Ensenso_$(arg stereo_serial)" args="load ensenso_camera/nodelet /manager_" output="screen" ns="$(arg stereo_ns)">
    <param name="serial" type="string" value="$(arg stereo_serial)" />
<!--    <param name="target_frame" type="string" value="camera_link" />-->
   <param name="camera_frame" type="string" value="ensenso_camera_link" />
    <param name="settings" type="string" value="$(arg settings)" />
  </node>
</launch>
