<?xml version="1.0"?>
<launch>
  <arg name="mono_settings"   default="$(find ensenso_camera)/params/ensenso_mono_params3.json"/>
  <arg name="stereo_settings" default="$(find ensenso_camera)/params/ensenso_stereo_params3.json"/>

  <!-- Realsense Camera Launch -->
  <node pkg="ensenso_camera" type="timed_roslaunch.sh"
    args="0 ensenso_camera nodelet.launch
          settings:=$(arg mono_settings)"
    name="timed_roslaunch_1" output="screen">
  </node>
  <node pkg="ensenso_camera" type="timed_roslaunch.sh"
    args="2 ensenso_camera nodelet_stereo.launch
          settings:=$(arg stereo_settings)"
    name="timed_roslaunch_2" output="screen">
  </node>

    <include file="$(find ensenso_camera)/launch/depth_registered.launch" />
    <param name="use_sim_time_camera" type="bool" value="True" />

</launch>
